<h1 align="center">Actualizando Datos de Registros</h1>
<div>
<%= render 'form', registro: @registro %>
</div>
<body style="background-color:#85C1E9;">
    
  </body>
<%= link_to 'Mostrar Datos', @registro %> |
<%= link_to 'Regresar', registros_path %>
