<h1>Actualizando Nota de Pedidos</h1>

<%= render 'form', notadepedido: @notadepedido %>
<body style="background-color:#85C1E9;">
    
  </body>
<%= link_to 'Detalles de Pedidos', @notadepedido %> |
<%= link_to 'Regresar', notadepedidos_path %>
